<div id="post-div" class="ml-2">
  {{> post-info post}}
</div>

{{#if loggedIn}}
<form class="comment-form ml-2">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>
{{else}}
<h3 class="pl-2">You must be logged in to comment</h3>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}